.container-profiles{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(226, 201, 250);
    line-height: 1.5
}
.container-profiles .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
    background-color: rgb(44, 44, 44);
}
.profile img{
    width: 8%;
    border-radius: 100%;
    margin-bottom: 12px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px rgb(56, 56, 56)
}
.container-profiles .container{
    color: white
}
.container-profile-post-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center
}
.post-profile{
    width: 250px;
    height: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin: 8px 12px 8px 12px;;
    box-shadow: 2px 2px 4px rgb(78, 78, 78);
}
.post-profile img{
    border-radius: 4px;
    width: 80%;
    height: 80%;
}
.font{
    color: white;
}
.loading{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 100px 0 0 0;
    flex-direction: column;
    text-align: center
}